<!DOCTYPE html>
<html lang="en">
<head>
    
    </style>
    <title>  </title>
</head>
<body>
       {% extends 'base.html' %} <!-- Esse arquivo extende o arquivo de base -->

        

        {% block content %} 
			
         <div id="niveis" >
                    <form method="GET" action="/acertar">

                        <fieldset class="campo-fild3">

                            <legend class="titulo" >Nível</legend>
                            <p>Adivinhe um número de 1 a 10</p>
                            <input class="botao-nivel-f" type="button" name="Fácil" id="facil" value="Fácil" disabled>
                            <p>
                            
                        </fieldset>

                            <input class="area-texto" type="text" name="palpite" id="texto" placeholder="Insira um número aqui"> <!-- "palpite - valor da chave nome que será recebido pela classe request.args -->

                            <input class="botao-advinhe" type="submit" id="facil" value="Adivinhe!">
                    </form>

                </div>

                 <div id="opcoes">
                          <a href=""><input class="botao-nivel-ant" type="button" name="niv-ant" id="niv-ant" value="Nível anterior" disabled></a>
                          <a href="index.html"><input class="botao-sair" type="button" name="sair" id="sair" value="sair"></a>
                          <a href="medio.html"><input class="botao-prox-nivel" type="button" name="prox-nivel" id="prox-nivel" value="Proximo Nível"></a>
                </div>

        {% endblock %}


</body>
</html>